torch
torchvision
torchaudio
numpy
pandas
matplotlib
scikit-learn
seaborn
fastapi
uvicorn
mlflow
pydantic
python-multipart
joblib
pyyaml
tqdm
requests
faiss-cpu
langchain
langchain-community
sentence-transformers
transformers
accelerate
google-genai>=1.28.0
python-dotenv>=1.0.1